{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="{% static 'css/product_detail.css'%}">
    <link rel="stylesheet" href="{% static 'js/product_detail.js'%}">
    <link rel="stylesheet" href="{% static 'css/product_overview.css'%}">
    <link rel="stylesheet" href="{% static 'js/product_overview.js'%}">
    <link rel="stylesheet" href="{% static  'fonts/fontawesome-free-6.5.1-web/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/product_overview_2.css'%}">
    <link rel="stylesheet" href="{% static 'js/app.js'%}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <title>Document</title>
</head>
<body>
    
    {%block product%}
    {%endblock%}
    {%block product_overview%}
    {%endblock%}

</body>
</html>